<main class='container'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      
        <h5 class='modal-title mb-3'>Create an Account</h5>
        <form class='modal-body signup-form'>

        <label for='email' class='sr-only'>Email Address</label>
        <input
          type='email'
          class='form-control mb-3'
          id='email-signup'
          placeholder='Email Address'
          required
        />

        <label for='name' class='sr-only'>User Name</label>
        <input
          type='text'
          class='form-control mb-3'
          id='name-signup'
          placeholder='User Name'
          required
        />

        <label for='password' class='sr-only'>Password</label>
        <input
          type='password'
          class='form-control mb-3'
          id='password-signup'
          placeholder='Password'
          required
        />
        

        <button type='submit' class='btn btn-primary btn-block'>Create Account</button>
      </form>
    </div>
  </div>
</main>
<script src="/js/signup.js"></script>