 <div class="login-container">
  <!-- Login form and other content go here -->
  <img src="./assets/neon1.jpg" class="background-image" alt="Background Image">
</div>

</div>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">GameU</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/createAccount">Create Account</a>
        </li>
        <li class="nav-item">
            {{#if logged_in}}
            <a class="nav-link" href="/profile">Profile</a> 
            </li>
            <li>
            <button class="no-button btn btn-dark" id="logout">Logout</button>
            {{else}}
            <a class="nav-link" href="/login">Login</a>
            {{/if}}
          </li>

      </ul>

    </div>
  </div>
</nav

<main class='container'>
  <div class='modal-dialog'>
    <div class="entrance-sign">
   <h2 class='modal-title mb-3'>⚠️WARNING⚠️</h2>
      <h5 class='modal-title mb-3'>You MUST CREATE AN ACCOUNT to enter</h5>
    </div>
    
    <div class='modal-content'>
      
    
        <form class='modal-body signup-form'>

        <label for='email' class='sr-only'>Email Address</label>
        <input class="email-input"
          type='email'
          class='form-control mb-3'
          id='email-signup'
          placeholder='Email Address'
          required
        />

        <label for='name' class='sr-only'>User Name</label>
        <input class="username-input"
          type='text'
          class='form-control mb-3'
          id='name-signup'
          placeholder='User Name'
          required
        />

        <label for='password' class='sr-only'>Password</label>
        <input class="password-input"
          type='password'
          class='form-control mb-3'
          id='password-signup'
          placeholder='Password'
          required
        />
        

        <button type='submit' class='create-btn btn-primary btn-block'>Create Account</button>
      </form>
    </div>
  </div>
</main>
<script src="/js/signup.js"></script>