<header>
  <div>
    <img src='./assets/images/ESPN_U_logo.svg.png' alt='GameU Logo' />
  </div>
</header>

<div>
  <section class='top-section'>
    <form id='form'>
      <input type='search' id='query' name='q' placeholder='Search...' />
      <button>Search</button>
    </form>

    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
      fames ac turpis egestas.</p>
  </section>

  <main class='feed'>
    <div class='post'>
      <h4>Post Title</h4>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas.</p>
    </div>
  </main>

  <section class='right-container'>
    <div class='nav'>
      <button class='main-forum'>Main Forum</button>
      <button class='games'>Games</button>
      <button class='myProfile'>My Profile</button>
    </div>

    <aside class='news-card1'>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas.</p>
    </aside>

    <aside class='news-card2'>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas.</p>
    </aside>

    <aside class='news-card3'>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas.</p>
    </aside>

    <aside class='news-card4'>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas.</p>
    </aside>

    <aside class='news-card5'>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas.</p>
    </aside>
  </section>

</div>