<link rel='stylesheet' href='/css/newpost.css' />

<h3 class="card-title">Create a New Post:</h3>
<div class='post card'>
    <div class="card-body">
        <form class="form new-post-form">

            <div class='post card'>
                <h2>The Legend of Zelda: Breath of the Wild</h2>
                <img src="https://media.rawg.io/media/games/cc1/cc196a5ad763955d6532cdba236f730c.jpg" class=" post-img card-img-top" alt="The Legend of Zelda: Breath of the Wild">
                <div class="card-body">

                    <div class="form-group">
                        <label for="post-title">Post Title:</label>
                        <input type="text" class="form-control" id="post-title" name="post-title"
                            placeholder="Title...">
                    </div>
                    <div class="form-group">
                        <label for="post-system">Game System:</label>
                        <select class="form-control" name="post-system" id="post-system">
                            <option>PC</option>
                            <option>Xbox</option>
                            <option>PlayStation</option>
                            <option>Nintendo</option>
                            <option>DON'T WORRY ABOUT IT!!</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="post-category">Category:</label>
                        <select class="form-control" name="post-category" id="post-category">
                            <option>Tips and Tricks</option>
                            <option>Tips n Tricks</option>
                            <option>Advice</option>
                            <option>Rant</option>
                            <option>Humble Brag</option>
                            <option>Review</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="post-content">Post Content:</label>
                        <textarea class="form-control" id="post-content" name="post-content" rows="5"></textarea>
                    </div>
                    <input type="hidden" id="selected-game-title" name="selected-game-title">
                    <input type="hidden" id="selected-game-image" name="selected-game-image">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Create Post</button>
                    </div>
        </form>
    </div>
</div>
<script src="/js/rawgdata.js"></script>
<script src="/js/newpost.js"></script>