<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>GameU Profile</title>
  </head>
  <body>
    <section>
      <h2>BROUGHT TO YOU BY</h2>
      <aside class='ad'>

      </aside>
    </section>

    <section>
      <h2>USERNAME</h2>
      <form id='form'>
        <input type='search' id='query' name='q' placeholder='Search...' />
        <button>Search</button>
      </form>
      <main>
        <h2>Recent Posts</h2>
        <div class="your-post">
           <h4>Post Title</h4> 
           <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        </div>
      </main>
    </section>

  </body>
</html>